<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tracking</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
        integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- <body>



    <div id="map"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>



    <script src="/js/script.js"></script>

</body> -->

<body>

    <!-- Map container -->
    <div id="map"></div>

    <!-- Controls overlay -->
    <div id="controls" style="position: absolute; top: 10px; left: 10px; z-index: 1000;">
        <!-- Student: request ride buttons -->
        <button class="request-btn" data-point="Gate A">Request Gate A</button>
        <button class="request-btn" data-point="Gate B">Request Gate B</button>
        <button class="request-btn" data-point="Library">Request Library</button>
        <button class="request-btn" data-point="Hall">Request Hall</button>

        <!-- Driver: accept ride buttons -->
        <button class="accept-btn" data-point="Gate A">Accept Gate A</button>
        <button class="accept-btn" data-point="Gate B">Accept Gate B</button>
        <button class="accept-btn" data-point="Library">Accept Library</button>
        <button class="accept-btn" data-point="Hall">Accept Hall</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const USER_ROLE = "<%= USER_ROLE %>";
        const USER_NAME = "<%= USER_NAME %>";
        const USER_ID   = "<%= USER_ID %>";
    </script>

    <script src="/js/script.js"></script>
    
</body>


</html>
  <!-- <div>
            <button class="request-btn" type="submit">Request</button>
        </div>
        <div>
            <button class="accept-btn" type="submit">Accept</button>
        </div> -->