* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
  height: 100vh;
  width: 100%;
}

html, body {
    width: 100%;
    height: 100%;

}

#user-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 50px auto;
    border-radius: 8px;
    font-family: sans-serif;
}

